/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    gap: 20px; /* Adjust the gap between forms */
    grid-template-columns: repeat(2, 1fr); /* Display forms in two columns */
}

h1 {
    color: #333;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: #45a049;
}

.toggle-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    align-items: center;
    position: relative;
}

.toggle-switch {
    display: none;
}

.toggle-label {
    background-color: #ccc;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 20px;
    width: 50px; /* Adjust the width */
    position: absolute;
    right: 0; /* Align to the right */
    border: 2px solid #000; /* Black border */
    transition: background-color 0.3s;
}

.toggle-switch:checked + .toggle-label {
    background-color: #4caf50;
}

.toggle-container p {
    margin: 0;
}
