/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* h1 {
    color: #333;
} */

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button, h1 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

button:hover,
button:focus {
    background-color: #c40de8; 
}

.toggle-container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    align-items: center;
    position: relative;
}

.toggle-switch {
    display: none;
}

.toggle-label {
    background-color: #ccc;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 20px;
    width: 50px; 
    position: absolute;
    right: 0; 
    border: 2px solid #000; 
    transition: background-color 0.3s;
}

.toggle-switch:checked + .toggle-label {
    background-color: #168fec;
}

.toggle-container p {
    margin: 0;
}

h2 {
    text-align: center;
}


